.TPCard {
  font-size: 20px;
  margin-bottom: 10px;
}

@media(max-width: 800px){
  .TPCard{
    width:250px;
    margin-right: 15px;
    font-size:15px;
  }
}

/* 가로 버전 TopPlayer 스타일 */
.TopPlayerHorizontal {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  background: rgba(0,0,0,0.1);
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  box-sizing: border-box;
  font-size:30px;
}
.TopPlayer{
  border-radius: 20px;
  max-width: 250px;
  margin: 10px auto;
  padding: 10px;
  position: fixed;
  right: 5px;
  top: 200px;
  background-color: rgba(0,0,0,0.1);
  font-size:30px;
}

.TpData span{
  margin-right:5px;
}